body {
    font-family: sans-serif;

    padding-top: 10px;
    background-color: rgb(139, 224, 178);
}

header {
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 40px;
}

#ov-pic {
    margin-left: 45px; 
}

#ex-pic {
    position: absolute;
    margin-left: 95px; 
}

#li-pic {
    position: absolute;
    margin-left: 205px; 
}


input[type="radio"] {
    border: 0;
    clip-path: inset(50%);
    margin: -1px;
    padding: 0px;
    position: absolute;
    height: 1px;
    width: 1px;
    
    
}

label {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid grey;
    border-bottom: none;
    font-weight: bold;
    color: black;
    
}

input[type="radio"]:checked + label {
    border-bottom: 1px solid white;
    font-weight: bold;
    color: black;
    background-color: white;   
}

#tab1:hover + label {
    background-color: rgb(238, 203, 156);
}

#tab2:hover + label {
    background-color: aliceblue;
}

#tab3:hover + label {
    background-color: rgb(247, 183, 250);
}



.tab-content {
    display: none;
    padding: 50px;
    border: 1px solid white;
    border-top: none;
    
    color: black;
    box-shadow: 0px 4px 6px black;
}
#ov-bio {
    padding-right: 500px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}

span {
    margin: 40px;
    border: 1px groove black;
    padding: 5px 12px 5px 12px;
    background-color: rgb(139, 224, 178);
    font-family: courier;
    
}

#map {
    position: absolute;
    top: 250px;
    left: 950px;

}
#sfu {
    position: absolute;
    top: 250px;
    left: 1170px;

}
#code {
    position: absolute;
    top: 370px;
    left: 950px;
}
#seng {
    position: absolute;
    top: 370px;
    left: 1170px;
}

#space {
    padding: 120px;
}
#skills {
    position: absolute;
    top: 600px;
    left: 250px;
}

#traits {
    position: absolute;
    top: 580px;
    left: 600px;
}

#content1 {
    background-color: rgb(255, 228, 196);
    
}

#content2 {
    background-color: aliceblue;
    
}

#content3 {
    background-color: rgb(247, 183, 250);
}

ul {
    font-size: 20px;
    line-height: 2.5;
    
}

#trait-list {
    padding-top: 100px;
}

h4 {
    padding-left: 70px;
}

#favicon-1 {
    position: absolute;
    top: 20px;
    left: 350px;
}

#favicon-2 {
    position: absolute;
    top: 25px;
    left: 1055px;
}



#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}


