body {
    font-family: sans-serif;
    padding: 50px;
    padding-top: 10px;
    background-color: white;
}

header {
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 40px;
}

#ov-pic {
    margin-left: 90px; 
}

#ex-pic {
    position: absolute;
    margin-left: 93px; 
}

#li-pic {
    position: absolute;
    margin-left: 195px; 
}


input[type="radio"] {
    border: 0;
    clip-path: inset(50%);
    margin: -1px;
    padding: 0px;
    position: absolute;
    height: 1px;
    width: 1px;
    
    
}

label {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    cursor: pointer;
    background-color: grey;
    border: 1px solid grey;
    border-bottom: none;
    color: beige;
    
}

input[type="radio"]:checked + label {
    background-color:  white;
    border-bottom: 1px solid white;
    font-weight: bold;
    color: black;   
}

label:hover {
    background-color: rgb(238, 203, 156);
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid white;
    border-top: none;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 6px black;
}
#ov-bio {
    padding-right: 500px;
    padding-bottom: 100px;
}

span {
    margin: 40px;
    border: 1px groove black;
    padding: 5px 12px 5px 12px;
    background-color: rgb(117, 241, 228);
    
}

#map {
    position: absolute;
    top: 250px;
    left: 950px;

}
#sfu {
    position: absolute;
    top: 250px;
    left: 1170px;

}
#code {
    position: absolute;
    top: 370px;
    left: 950px;
}
#seng {
    position: absolute;
    top: 370px;
    left: 1170px;
}

#tab1:checked ~ #content1,
#tab3:checked ~ #content3 {
    display: block;
}


